body {
    margin: 0;
    padding: 0;
    background: url('./images/BG.png') center fixed no-repeat;
    background-size: cover;
    font-family: Arial, sans-serif;
}

.container {
    width: 424px;
    margin: 67% auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}

form {
    display: flex;
    flex-direction: column;
    padding: 31px; /* Adjust the padding as needed */
    border-radius: 5%;
    position: relative;
}


input, select {
    margin-bottom: 13%;
    padding: 13px;
    border: none;
    border-radius: 5px;
    background: url(./images/textbg.png) center center/cover;
}

input[type="submit"] {
    margin-left: 23%;
    margin-top: 27%;
    border: none;
    background: url(./images/Register.png) center no-repeat;
    background-size: cover;
    width: 190px;
    height: 56px;
    cursor: pointer;
    content: ""; /* Remove default text */
}

/* Center the container on all screens */
@media screen and (max-width: 600px) {
    .container {
        width: 100%;
        margin: 10% auto;
    }
}
